.container-search{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.search {
    background: #f4f6f3;
    border-radius: 5px;
    border: 2px solid #202329;
    margin: 0 5px;
    height: 40px;
    width: calc(100% - 400px);
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    border-style: none;
    transition: all 0.3s ease-in-out;
    padding: 5px 3px
}

.search:focus{
    transform: scale(1.1);
    font-size: 25px;
}

.search::placeholder {
    color: #A5A5A5;
    font-weight: 400;
}

.search:focus {
    outline-color: #84a98c;
}